@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom, #65676d, #7cb4d7, #99e6ed);
  /* Add some brightness and vibrancy */
  filter: brightness(1.2);
  min-height: 100vh;
  margin: 0;
  color: white;
}
